@import 'globals/reset'
@import 'globals/variables'

@import 'components/base'
@import 'components/buttons'
@import 'components/nav'
@import 'components/icons'
@import 'components/animations'
@import 'components/videos'
@import 'components/header'
@import 'components/features'
@import 'components/footer'

@import 'views/home'
@import 'views/documentation'
@import 'views/plugins'
@import 'views/community'
@import 'views/404'
