block vars
  - var bodyClass = 'four-o-four-page'
  - var description = '404'

extends layout

block title
  | 404 | 

block content

  section.site-header

  section.centered
    h1.what Oh darn.
    h2 It looks like you’ve taken a wrong turn.
    p It happens to the best of us.