// Variables

// Font Families
$font-family-georgia = Georgia, serif
$font-family-roboto = 'Roboto', Helvetica, Arial, sans-serif
$font-family-courier = 'Courier New', Courier, monospace
$font-family-oswald = 'Oswald', Helvetica, Arial, sans-serif
$font-family-menlo = 'Menlo', 'Consolas', 'Lucida Console', Courier, monospace


// Font Weights
$font-weight-light = 300
$font-weight-normal = 400
$font-weight-bold = 700


// Colors

$vorlon-purple = #1d0c3d

$purple = #6b2d81
$purple-drk = #411748

$blue = #007ca7
$blue-drk = #0a567f

$yellow = #fee600
$yellow-drk = #ffcb05

$green = #a2c13b
$green-drk = #899c3a

$teal = #00b7c7
$red = #ed2424

$grey-drk = #444
$grey-med = #ccc
$grey-light = #f7f7f7

white(alpha)
  rgba(255,255,255,alpha)

black(alpha)
  rgba(0,0,0,alpha)
  
purple(alpha)
  rgba(107,45,129,alpha)


// Borders

$grey-border = 3px solid black(.07)

// Widths

$container-width = 1200px
$small-width = 600px
$medium-width = 900px


// Center content vertically

centerVert =
  position: absolute
  top: 50%
  transform: translateY(-50%)