// Animations

// Spaceship in logo moving across text
@keyframes spaceship
  0%
    left: 5%
    top: -55px
  20%
    top: -50px
  40%
    top: -55px
  60%
    top: -47px
  80%
    top: -51px
  100%
    left: 67%
    top: -55px

// Exhaust from spaceship
@keyframes exhaust
  0%
    opacity: 0
  5%
    opacity: 0
  20%
    opacity: 1
    margin-right: 0
    margin-top: 0
  27%
    opacity: 1
  65%
    opacity: 0
    margin-right: 20px
    margin-top: 5px
  75%
    opacity: 0
    margin-right: 0
    margin-top: 0
  100%
    opacity: 1

// Data moving through tube-left
@keyframes data1
  0%
    top: -20px
    left: 8px
  15%
    top: 120px
    left: 8px
  30%
    top: 265px
    left: 75px
  45%
    top: 400px
    left: 75px
  100%
    top: 400px
    left: 10px

// Data moving through tube-top
@keyframes data2
  0%
    top: -28px
    left: 8px
  3.0578118439665722%
    top: -8px
    left: 8px
  6.1156236879331445%
    top: 12px
    left: 8px
  8.86765434750306%
    top: 30px
    left: 8px
  11.723886320011895%
    top: 48px
    left: 13px
  14.057659923338075%
    top: 61px
    left: 21px
  16.43607936284551%
    top: 72px
    left: 32px
  19.587999666830232%
    top: 77px
    left: 52px
  21.90165415677704%
    top: 80px
    left: 67px
  42.08379144967832%
    top: 80px
    left: 199px
  46.01459638426888%
    top: 74px
    left: 224px
  48.61822935052951%
    top: 63px
    left: 237px
  50.66947189418348%
    top: 51px
    left: 243px
  53.062588195113115%
    top: 37px
    left: 250px
  55.35594707808804%
    top: 22px
    left: 250px
  59.94266484403791%
    top: -8px
    left: 250px
  63.00047668800448%
    top: -28px
    left: 250px
  100%
    top: -28px
    left: 8px

// Data moving through tube-right
@keyframes data3
  0%
    top: -20px
    right: 10px
  50%
    top: 400px
    right: 10px
  100%
    top: 400px
    right: 10px
