//- Buttons

.btn
  margin: 10px
  display: inline-block
  border-radius: 3px
  font-weight: $font-weight-normal

  &.btn-primary
    padding: 12px 20px
    background: $teal
    color: white

    &:hover
      background: darken($teal,10%)

  &.btn-secondary
    margin-top: 0
    padding: 8px 15px
    background: $purple
    color: white

    &:hover
      background: darken($purple,15%)