// Footer

.site-footer
  background: $vorlon-purple
  color: white
  text-align: center

  .container
    padding: 30px 15px

  a:hover
    opacity: .7

  .nav-footer

    .nav-item
      margin: 5px 7px
      display: inline-block
      color: white
      font-size: 14px

  h4.home
    margin-bottom: 0
    padding-left: 10px
    z-index: 10
    font-size: 100%

    a.footer-logo
      width: 100px
      height: auto
      padding: 10px
      display: inline-block
      background-image: url(../images/vorlon-pixel-logo-xsmall-white.svg)
      background-repeat: no-repeat
      background-position: 50% 50%
      background-size: 90%
      text-indent: -999rem