// Header
.site-header
  height: 400px
  position: relative
  overflow: hidden
  background: #1f1c28
  background-image: url(../images/header-stars.png),
                    url(../images/header-stars-distant.png)
  background-repeat: repeat
  background-position: center center
  background-size: auto 400px
  color: white

  .container
    height: 100%
    background-image:     url(../images/header-planet-large.png),
                          url(../images/header-planet-medium.png),
                          url(../images/header-planet-small.png)
    background-repeat:    no-repeat
    background-size:      180px auto, // planet-large
                          90px auto,  // planet-medium
                          66px auto   // planet-small
    background-position:  right 120%, // planet-large
                          80% 10%,    // planet-medium
                          20% 30%     // planet-small

  .tube
    position: absolute
    top: 0
    background-repeat: no-repeat
    z-index: 4

    .data
      width: 20px
      height: 20px
      background: url(../images/header-tube-data.png)
      background-size: contain
      border-radius: 50%
      position: absolute
      top: -20px
      opacity: .5

  .tube-left
    width: 150px
    height: 400px
    left: 10%
    background-image: url(../images/header-tube-3.png)
    background-size: auto 400px

    .data
      animation: data1 8s 2s linear infinite

  .tube-top
    width: 280px
    height: 200px
    left: 26%
    background-image: url(../images/header-tube-2.png)
    background-size: 280px auto
    background-position: left -8%

    .data
      animation: data2 8s 6s linear infinite

  .tube-right
    width: 400px
    height: 400px
    right: 5%
    background-image: url(../images/header-tube-1.png)
    background-size: auto 400px
    background-position: right center

    .data
      animation: data3 8s 4s linear infinite

  .satellite
    width: 92px
    height: @width
    position: absolute
    left: 10%
    bottom: 10%
    background: url(../images/header-satellite.png) no-repeat center center
    background-size: contain
    z-index: 3

  .logo
    width: 395px
    height: 110px
    margin: 0 auto
    position: absolute
    top: 37%
    left: 50%
    transform: translateX(-50%)
    z-index: 10
    background: url(../images/header-pixel-logo-text.svg) no-repeat center center
    background-size: contain
    text-indent: -9999em

    .spaceship,
    .exhaust
      position: absolute
      background-repeat: no-repeat
      background-size: contain
      background-position: center center

    .spaceship
      width: 86px
      height: 46px
      left: 67%
      top: -55px
      background-image: url(../images/header-pixel-logo-spaceship.svg)
      animation: spaceship 4s ease-out

    .exhaust
      width: 64px
      height: 34px
      right: 64px
      top: 6px
      background-image: url(../images/header-pixel-logo-exhaust.svg)
      animation: exhaust 4s ease


@media screen and (max-width: $medium-width)

  .site-header
    height: 350px

    .tube-left
      left: 5%
    .tube-top
      top: -5%
      left: 15%
    .tube-right
      right: -75px
    .satellite
      display: none
    .logo
      height: 140px
      top: 28%
      background-image: url(../images/vorlon-pixel-logo-large.svg)
      .spaceship
        display: none

@media screen and (max-width: $small-width)

  .site-header
    height: 250px

    .container
      background-position:  120% 140%, // planet-large
                            85% -10px, // planet-medium
                            10% 10%    // planet-small

    .tube
      top: -35%
    .tube-left
      left: 2%
    .tube-top
      display: none
    .logo
      height: 120px
      top: 16%

@media screen and (max-width: 480px)

  .site-header
    height: 200px

    .container
      background-position:  120% 400%, // planet-large
                            85% -50px, // planet-medium
                            -5% 5%     // planet-small

    .tube
      display: none
    .logo
      height: 100px
