// Main navigation styling

.nav-main
  position: relative
  z-index: 11
  background: $purple
  font-size: 16px
  text-align: right

  .container
    position: relative

  .nav-item
    padding: 10px
    display: inline-block
    color: white

    &:hover
      background: white(.1)

    &.home,
    &.filled
      padding-left: 15px
      padding-right: 15px

    &.filled
      background: white(.2)
      
  h1.home
    float: left
    margin-bottom: 0
    z-index: 10
    font-size: 100%
    padding-left: 10px

    a.logo
      width: 100px
      height: auto
      padding: 10px
      display: inline-block
      background-image url(../images/vorlon-pixel-logo-xsmall-white.svg)
      background-position: 50% 50%
      background-repeat: no-repeat
      background-size: 90%
      text-indent: -999rem

  .reveal-nav-btn,
  .reveal-nav-input
    display: none

  @media screen and (max-width: 700px)

    .nav-main-list
      width: 100%
      display: none
      position: absolute
      top: 100%
      left: 0
      background: $purple-drk

      .nav-item
        margin-left: 0
        padding: 8px 15px
        display: block
        text-align: left

        &:not(:last-child)
          border-bottom: 1px solid $purple

        &.filled
          background: transparent

        &:hover
          background: white(.1)

    .reveal-nav-btn
      display: inline-block

      &:hover
        cursor: pointer

    .reveal-nav-input
      display: block
      position: absolute
      visibility: hidden

    .reveal-nav-input:checked + .nav-main-list
      display: block