.plugin-container
  .plugin
    h3 Console
    p View logs and errors for your application.
    p.meta
      a(href='https://github.com/MicrosoftDX/Vorlonjs/tree/master/Plugins/Vorlon/plugins/interactiveConsole') View on GitHub