.plugin-container
  .plugin
    h3 Device Information
    p Gathers remote device rendering information.
    p.meta
      a(href='https://github.com/MicrosoftDX/Vorlonjs/tree/master/Plugins/Vorlon/plugins/device') View on GitHub
