.plugin-container
  .plugin
    h3 DOM Explorer
    p Inspect the DOM tree and its corresponding styles.
    p.meta
      a(href='https://github.com/MicrosoftDX/Vorlonjs/tree/master/Plugins/Vorlon/plugins/domExplorer') View on GitHub