.plugin-container
  .plugin
    h3 Express Debugger
    p View and debug your node.js express-based application.
    p.meta
      a(href='https://github.com/MicrosoftDX/Vorlonjs/tree/master/Plugins/Vorlon/plugins/interactiveConsole') View on GitHub