.plugin-container
  .plugin
    h3 Modernizr
    p View a list of supported and unsupported features.
    p.meta
      a(href='https://github.com/MicrosoftDX/Vorlonjs/tree/master/Plugins/Vorlon/plugins/modernizrReport') View on GitHub