.plugin-container
  .plugin
    h3 Network Monitor
    p View network activities (XHR & resources loading).
    p.meta
      a(href='https://github.com/MicrosoftDX/Vorlonjs/tree/master/Plugins/Vorlon/plugins/networkMonitor') View on GitHub