.plugin-container
  .plugin
    h3 ngInspector
    p Inspect your Angular.js scopes
    p.meta
      a(href='https://github.com/MicrosoftDX/Vorlonjs/tree/master/Plugins/Vorlon/plugins/ngInspector') View on GitHub