.plugin-container
  .plugin
    h3 NodeJS Process
    p Gathers information and monitor memory usage.
    p.meta
      a(href='https://github.com/MicrosoftDX/Vorlonjs/tree/master/Plugins/Vorlon/plugins/interactiveConsole') View on GitHub