.plugin-container
  .plugin
    h3 Object Explorer
    p Display the living JavaScript variables tree.
    p.meta
      a(href='https://github.com/MicrosoftDX/Vorlonjs/tree/master/Plugins/Vorlon/plugins/objectExplorer') View on GitHub