// Search Plugins
// Not yet functional, leaving here for style guidance
//- section
//-   .container.cf
//-     h3 Find a plugin
//-     .form-group.cf
//-       input.search-form(id="search", placeholder="filter plugins by tag")
//-       button.clear(type="reset")

// Additional Plugins
// section to show when there are additional plugins
section
  .container.cf
    .plugin-container
      .plugin
        h3: a Title
        p.meta @1.0.0 • by <a href='#' class='author'>Author</a> • <a href=''>github</a>
        .description
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat quis libero quis lobortis. Pellentesque porttitor ante in sollicitudin tincidunt.
        // This element compliments the search feature. Leaving here for style guidance
        //- p.tags <a href='#'>Tag 1</a> / <a href='#'>Tag 2</a> / <a href='#'>Tag 3</a>
    .plugin-container
      .plugin
        h3: a Title
        p.meta @1.0.0 • by <a href='#' class='author'>Author</a> • <a href=''>github</a>
        .description
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat quis libero quis lobortis. Pellentesque porttitor ante in sollicitudin tincidunt. 
    .plugin-container
      .plugin
        h3: a Title
        p.meta @1.0.0 • by <a href='#' class='author'>Author</a> • <a href=''>github</a>
        .description
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat quis libero quis lobortis. Pellentesque porttitor ante in sollicitudin tincidunt.
    .plugin-container
      .plugin
        h3: a Title
        p.meta @1.0.0 • by <a href='#' class='author'>Author</a> • <a href=''>github</a>
        .description
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat quis libero quis lobortis. Pellentesque porttitor ante in sollicitudin tincidunt.

    .plugin-container
      .plugin.contribute
        a.icon.icon-lightbulb(href='/community')
        h3: a(href='/community') Contribute
        p Improve Vorlon.JS and contribute a plugin. <a href='#'><strong>Learn how.</strong></a>
        hr
        p Have an idea? <a href='#'><br/><strong>Suggest a plugin.</strong></a>