.plugin-container
  .plugin
    h3 Resources Explorer
    p Inspect local resources such as localStorage or cookies.
    p.meta
      a(href='https://github.com/MicrosoftDX/Vorlonjs/tree/master/Plugins/Vorlon/plugins/resourcesExplorer') View on GitHub
