.plugin-container
  .plugin
    h3 Unit Test Runner
    p Enable remote unit testing thanks to the power of 
      a(href='https://qunitjs.com/') QUnit
    p.meta
      a(href='https://github.com/MicrosoftDX/Vorlonjs/tree/master/Plugins/Vorlon/plugins/unitTestRunner') View on GitHub
