.plugin-container
  .plugin
    h3 Best Practices
    p Performs web standards compliance and best practices audits.
    p.meta
      a(href='https://github.com/MicrosoftDX/Vorlonjs/tree/master/Plugins/Vorlon/plugins/webstandards') View on GitHub
