.plugin-container
  .plugin
    h3 XHR Panel
    p View XHR calls information sent by your devices.
    p.meta
      a(href='https://github.com/MicrosoftDX/Vorlonjs/tree/master/Plugins/Vorlon/plugins/xhrPanel') View on GitHub